$form-check-input-width: 1.563rem;
$form-check-padding-start: 2.313rem;
$form-check-input-border-radius: 0.125rem;
$form-check-margin-bottom: 1.25rem;
$form-check-input-checked-color: $primary;
$form-check-input-checked-bg-color: $grayL;
$form-check-input-checked-border-color: $primary;