$input-padding-y: 1.063rem;
$input-padding-x: 1.063rem;
$input-border-radius: 0;
$input-border-color: $gray-500;
$input-color: $gray-500;
$input-placeholder-color: $input-color;

$input-focus-border-color: $primary;
$input-focus-width: 0;
$input-focus-box-shadow: 0;
$input-focus-color: $gray-800;

$form-feedback-valid-color: $green-700;