.form-wrapper {
  .gform {
    &_heading {
      display: none;
    }
    &_wrapper {
      form {
      }
      .gform_validation_errors {
        display: none;
      }
    }

    &_body {
      .gfield {
        position: relative;
        &_label {
          color: #323232;
          font-size: 1rem;
          line-height: 1.4375rem;
          margin-bottom: 0.5rem;
        }
        .ginput_container {
          input,
          textarea {
            width: 100%;
            height: rem-calc(60);
            padding: rem-calc(15);
            &:focus , &:active{ 
              border-color: $input-focus-border-color;
              
            }
          }
          input, select{
            border: 1px solid $light;
          }
          select{
            padding-left:rem-calc(16);
            &:focus , &:active{
              border-color: $input-focus-border-color;
            }
          }
          select,
          .select2,
          .selection,
          .select2-selection{
            width: 100% !important;
            height: rem-calc(60);
            margin: 0;
            border-radius: 0;
            border:none;
          }
          
          .select2-selection__rendered {
            padding: rem-calc(16) ;
            border-radius: 0;
            width:100%;
            border:1px solid $light;
            height: rem-calc(60);
          } 
          .select2-container--open, .select2-container--focus{
            .select2-selection__rendered{
              border-color: $input-focus-border-color;
            }
          }
          .gfield_checkbox,
          .gfield_radio {
            .gchoice {
              @extend .form-check;
              display: flex;
              align-items: center;
              input {
                @extend .form-check-input;
                margin-right: 12px;
              }
              label {
                @extend .form-check-label;
              }
              &:last-child{
                margin-bottom: 0;
              }
            }
          }
          &.ginput_container_textarea{
            display: flex;
          }
          &.ginput_container_list {
            .gfield_list {
              &_groups {
                .gfield_list_group {
                  @extend .row, .align-items-center;
                  margin-bottom: rem-calc(16);
                  .gfield_list_group_item,
                  .gfield_list_icons {
                    @extend .col-md-6;
                  }
                  &:only-child, &:last-child{
                    margin-bottom:0;

                  }
                  .gfield_list_icons {
                    display: flex;
                    flex-wrap: wrap;
                    @extend .justify-content-between;
                    @include media-breakpoint-down(md){
                      margin-top:rem-calc(16);
                    }
                    button {
                      width: 47.1%;
                      border:none;
                      margin: 0;
                      height: rem-calc(60);
                      @include flex-center;
                      &.add_list_item{
                        background: $primary !important;
                        border-color: $primary;
                      }
                      &.delete_list_item{
                        background: $red !important;
                        border-color: $red;
                      }
                    }
                   
                  }
                }
              }
            }
          }
          &.ginput_container_fileupload{
            input.large {
              @extend .form-control;
            }
            button{
              height: rem-calc(60);
              border:none;
              @extend .btn, .btn-primary;

            }
          }
          &.ginput_container_post_image{
            input.large {
              @extend .form-control;
            }
            .ginput_full{
              width: 100%;
              span{
                width: 100%;
              }
              .ginput_preview{
                flex-direction: row;
              }
            }
          }
          &.ginput_container_multiselect {
            select,
            .select2,
            .selection,
            .select2-selection{
              width: 100% !important;
              margin: 0;
              border-radius: 0;
              padding: 0;
              @include media-breakpoint-down(md) {
                height: unset !important;
                min-height: rem-calc(60);
               }
              
            }
            .select2-search{
              @include media-breakpoint-down(md) {
                position: absolute;
                top:0;
                display:block;
               }
            }
            .select2-selection__rendered {
              position: absolute;
              left:0;
              margin: 0;
              top:0;
              height: rem-calc(60);
              border:1px solid $light;
              @include media-breakpoint-down(md) {
                position: relative;
                display:block;
                height: unset !important;
                min-height: rem-calc(60);
              }
              .select2-selection__choice {
                padding-left: 0;
                padding-right: rem-calc(20);
                background: transparent;
                margin:rem-calc(0 5 5 0 )!important;
                .select2-selection__choice__remove {
                  right: 0;
                  left: unset;
                  top: 50%;
                  width: 17%;
                  margin: 0;
                  transform: translateY(-50%);
                  background-color: transparent !important;
                  border: none;
                }
              }
            
            }
            textarea{
              visibility: hidden !important;
              min-height:rem-calc(60) !important;
            }
          }
        }
       
        .validation_message {
          background: none;
          border: none;
          margin-top: 0;
          padding: 0;
          font-size: rem-calc(12);
          text-align: left;
          &.gfield_validation_message {
            color: $red;
          }
        }
        &.hidden_label {
          label {
            display: none;
          }
        }
        .ginput_preview{
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          align-items: center;
          margin-bottom: rem-calc(16);
          .gform_delete_file{
            background: $red !important;
            border-color: $red;
            color:$white;
            margin:0;
            width:rem-calc(41);
            @extend .has-icon-right ;
          }
          strong{
            font-weight: 400;
            font-size:rem-calc(12);
          }
          a{
            color: $white;
            background-color: $red;
            position: relative;
            font-family: dashicons;
            line-height: 1;
            font-weight: 400;
            font-style: normal;
            speak: never;
            text-decoration: inherit;
            text-transform: none;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            width:rem-calc(50);
            height: rem-calc(44);
            font-size:0;
            transition: color .1s ease-in;
            display: flex;
            align-items: center;
            justify-content: center;
            &:before{
              content: "\f182";
              font-size:rem-calc(20);
            }
          }
        }
        &.gfield_error{
          input, textarea{
            border:1px solid $red ;
          }
          .select2-selection__rendered , .ginput_container_multiselect .select2-selection__rendered{
            border:1px solid $red ;
          }
          &.focused{
            .select2-selection__rendered{
              border:1px solid $red ;
            }
          }
          
        }
      }
      .ginput_complex {
        @extend .row, .align-items-center;
        span {
          @extend .col-md-6;
          display: block;
          margin-bottom: rem-calc(16);
          &.address_zip, &.address_country, &.name_first,
          &.name_last{
            @include media-breakpoint-up(md) {
              margin-bottom: 0;
            }
          }
          &.address_country,
          &.name_last{
              margin-bottom: 0;
          }
        }
        .hour_minute_colon {
          width: 1%;
          padding: 0;
        }
        .ginput_container_time {
          width: 33%;
          flex: 0 0 33%;
          @include media-breakpoint-down(md) {
            width: 33%;
            flex: 0 0 33%;
          }
        }
      }
    }

    &_footer {
      position: relative;
      display: inline-block;
      .gform_ajax_spinner {
        margin-left: rem-calc(20);
        border: 4px solid rgba($white, 0.7);
        border-left: 6px solid rgba($secondary, 1);
        animation: spinner 1.1s infinite linear;
        border-radius: 50%;
        width:rem-calc(24);
        height:rem-calc(24);
        position: absolute;
        right:rem-calc(10);
        top:rem-calc(10);
      }
    }
  }
  .gform_confirmation_wrapper {
    .gform_confirmation_message {
      color: $success;
    }
  }
  .gform_validation_error{
    select{
      padding-left:rem-calc(10) !important;
      padding-top:rem-calc(17px)
    }
  }
}
// material style form css
.material-style {
  .gform {
    &_body {
      div.gfield {
        position: relative;
        .gfield_label {
          position: absolute;
          left: rem-calc(16);
          top: rem-calc(19);
          transition: 0.3s all ease-in-out;
          z-index: 1;
        }
        &.focused {
          .gfield_label {
            top: rem-calc(8);
          }
          input, select, .select2-selection__rendered{
            border:1px solid $primary;
            height: rem-calc(60);
          }
          .ginput_container_multiselect .select2-selection__rendered{
            @include media-breakpoint-down(md) {
              height: unset !important;
              min-height: rem-calc(60);
            }
          }
        }
      
        .ginput_container {
          input,
          textarea {
            padding-top: rem-calc(32);
            &::placeholder {
              display: none;
            }
          }
          .select2-selection{
            border:none !important
          }
          .select2-selection__rendered {
            padding: rem-calc(27 0 10 16) !important;
            width:100%;
            border-color:$primary !important;
          } 
         
          &.ginput_container_singleproduct{
            input{
              padding-top:rem-calc(15);
            }
          }
          &.ginput_container_multiselect {
            select,
            .select2,
            .selection,
            .select2-selection{
              width: 100% !important;
              height: unset !important;
              min-height: rem-calc(60);
              margin: 0;
              border-radius: 0;
              padding: 0;
              
            }
            .select2-selection__rendered {
                @include media-breakpoint-down(md) {
                  position: relative;
                  display:block;
                  padding:0;
                }
                .select2-selection__choice {
                  margin:rem-calc(4 5 0 0 ) !important;
                }
            
            }
          }
        }
        .ginput_container_fileupload ~ label, .ginput_container_post_image ~label{
            display: none;
        }
        &.gfield_price{
          input{
            padding-top: rem-calc(28);
          }
        }
      }
      .ginput_complex {
        .name_first,
        .name_last {
          display: block;
          margin-bottom: rem-calc(16);
          position: relative;
          @include media-breakpoint-up(md){
            margin-bottom:0;
          }
          input {
            padding-top: rem-calc(24);
          }
          label {
            color: #323232;
            font-size: 1rem;
            line-height: 1.4375rem;
            margin-bottom: 0.5rem;
            position: absolute;
            left: rem-calc(30);
            top: rem-calc(20);
            display: block;
            transition: 0.3s all ease-in-out;
          }
          &.focused {
            label {
              top: rem-calc(5);
            }
            input{border:1px solid $primary;}
          }
        }
        .ginput_full, .ginput_left , .ginput_right{
          position: relative;
          input {
            padding-top: rem-calc(24);
          }
          label {
            color: #323232;
            font-size: 1rem;
            line-height: 1.4375rem;
            margin-bottom: 0.5rem;
            position: absolute;
            left: rem-calc(30);
            top: rem-calc(20);
            display: block;
            transition: 0.3s all ease-in-out;
            z-index: 1;
          }
          &.focused {
            label {
              top: rem-calc(5);
            }
            input{
              border:1px solid $primary;
            }
          }
        }
        .address_country{
          label {
            top: rem-calc(6);
          }
        }
      }
      fieldset.gfield{
        .address_country {
          .select2-selection {
            border-color:$primary;
            height: rem-calc(60);
          }
          .select2-selection__rendered {
            padding: rem-calc(25 0 10 16) !important;
            border-color:$primary !important;
            width:100%;
            margin: 0;
          } 
        }
      }
    }
  }
  .gform_validation_error{

  }
}
// datepicker
.ui-datepicker {
  background: $white;
  padding: rem-calc(8);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  display: none;
  .ui-datepicker-header {
    .ui-corner-all {
      color: $slate;
      &:hover {
        color: $primary;
      }
      &.ui-datepicker-next {
        float: right;
      }
    }
    .ui-datepicker-title {
      display: flex;
      justify-content:flex-start;
      margin: rem-calc(8 0);
      select{
        border:1px solid $light;
        margin-right:rem-calc(16);
        font-size:rem-calc(14);
      }
    }
  }
  .ui-datepicker-calendar {
    th {
      font-weight: 500;
      span{
        font-size: rem-calc(13);
        line-height: rem-calc(24);
      }
    }
    td,
    th {
      padding: 4px;
      text-align: center;
    }
    td{
      &:hover{
        background: $light;
      }
      a{
        color: $black1;
        font-size: rem-calc(13);
        line-height: rem-calc(24);
        
      }
      &.ui-state-disabled {
        a, span{
          opacity: .4;
        }
      }
      &.ui-datepicker-today{
        background: $primary;
        a{
          color: $white;
        }
      }
    }
  }
}
.logged-in .select2-container{
    margin-top: rem-calc(33);
    @include media-breakpoint-down(md) {
      margin-top: rem-calc(48);
    }
}
.validation_message--hidden-on-empty{
  display: none;
}
/* Spinner */

.gform_ajax_spinner {
  
  
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }

}